body {
    margin: 0;
    font-family: "Roboto", sans-serif, "Arial";
    font-size: x-large;
    overflow: hidden;
    height: 100vh;
}

h1 {
    padding: 0;
    text-align: center;
}

a:hover {
    background-color: lightgray;
}

aside {
    padding: 10% 10%;
    background: linear-gradient(90deg, lightgray 20%, #FFF 0%);
    width: 10vw;
}

main {
    overflow-y: auto;
}


#about > div {
    display: flex;
    gap: 5%;
}

img {
    width: auto;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

aside> a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
}

.date {
    font-size: smaller;
    color: gray;
}

h2 {
    padding-top: 3%;
}

@media only screen and (max-width: 767px)  {
    .container {
        display: block;
    }

    aside {
        background-color: #FFFFFF;
    }

    aside > a {
        display: none;
    }

    main {
        padding: 0% 10%;
    }

    body {
        overflow: unset;
    }
}
