body {
    margin: 0;
}

header {
    background-color: royalblue;
    text-align: center;
    padding: 10%;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    background-image: url(banner.jpg);
    filter: brightness(80%);
}

header > h1 {
    padding: 0;
}
